

= @movies.each do |movie|
  %td
    = movie.title
  %td
    = movie.year
  %td
    = movie.genre
  %td
    = movie.lead_actor
  %td

    =link_to "review" ,new_comment_path
    =link_to "check reviews"
  %br
